{% extends 'index.html' %}
{% block table_content %}
    <h3>学员报名</h3>
    <hr>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">报名客户：</label>
            <div class="col-sm-5">
                <select name="customer_id" class=" form-control">
                    {% for customer in customers %}
                        <option value="{{ customer.id }}">{{ customer }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">报名班级：</label>
            <div class="col-sm-5">
                <select name="class_grade_id" class="form-control">
                    {% for class_grade in class_list %}
                        <option value="{{ class_grade.id }}">{{ class_grade }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if not enrollment_link %}
            <input type="submit" value="生成报名链接 | 已报名则进入审核界面" class="btn btn-success" style="margin-left: 420px">
        {% endif %}
    </form>
    {% if enrollment_link %}
        <div class="alert alert-info" role="alert">将生成链接复制并发送给学生：{{ enrollment_link }}</div>
    {% endif %}
{% endblock %}